body,
html {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: auto !important;
  background-color: #161a1a;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/**
=======================================BEGIN CUSTOM BUTTONS=====================================================
===================================================================================================================
*/

/* CUSTOME BUTTONS */

.btn-small {
  height: 40px !important;
}

.btn-medium {
  height: 50px !important;
}

.btn-large {
  height: 60px !important;
  font-size: 16px;
}

.btn {
  padding: 0 5% !important;
  border: none !important;
  border-radius: 30px !important;
}

.btn:hover {
  cursor: pointer !important;
}

.btn:disabled {
  color: #777 !important;
}

/* SECONDARY BUTTONS */

.btn-secondary {
  background-color: #ffffff !important;
  color: #000 !important;
}

.btn-secondary:hover {
  background-color: #d5d5d5 !important;
}

.btn-secondary:disabled {
  background-color: #303033 !important;
}

/* PRIMARY BUTTONS */

.btn-primary {
  background-color: #2945ff;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #0017b2;
}

.btn-primary:disabled {
  background-color: #25255a;
}

/* SUCCESS BUTTONS */

.btn-success {
  background-color: #2ecc71;
  color: #ffffff;
}

.btn-success:hover {
  background-color: #239c56;
}

.btn-success:disabled {
  background-color: #1c4c31;
}

/* ERROR BUTTONS */

.btn-error {
  background-color: #e74c3c;
  color: #ffffff;
}

.btn-error:hover {
  background-color: #ac2315;
}

.btn-error:disabled {
  background-color: #542520;
}

/**
============================================================END OF CUSTOM BUTTONS==================================================
===================================================================================================================================
*/

#sell-music {
  width: 120px;
}

.gallery:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.6s;
}

.desc {
  padding-top: 10px;
  color: #fff;
  font-size: 16px;
}

.sub-desc {
  margin-top: 10px;
  color: #99999f;
  font-size: 14px;
}

.banner {
  background-image: url(Images/Banner-img.png);
  width: 100%;
  min-height: 1076px;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 11.6%;
  margin-right: 11.6%;
}

.logo {
  background-image: url("Icons/gobuybeats-logo.png");
  width: 184px;
  height: 45px;
}

.navbar-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 45px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  font-size: 16px;
  width: 450px;
  align-items: baseline;
}

.browse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login,
.signup {
  align-items: center;
}

.arrow {
  background-image: url("Icons/arrow.png");
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  margin-top: 9px;
  margin-left: 5px;
}

.header-title {
  color: #ffffff;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 70px;
  width: 100%;
}

.title-container {
  width: 65%;
  margin: 0 auto;
  margin-top: 338px;
}

.input-title {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 36%;
  height: 65px;
  margin: 104px auto;
  margin-bottom: 0;
}

.form-controls {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2.25rem;
  padding-left: 60px;
}

#search {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 22%;
}

.search-icon {
  background-image: url("Icons/search.png");
  width: 20px;
  height: 20px;
  position: absolute;
  top: 23px;
  left: 30px;
}

.sub-title {
  margin: 34px auto;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.gallery-container {
  background-color: #161a1a;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
}

.recent-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
}

.gallery-sub-first-container {
  width: 100%;
  height: 500px;
}

.gallery-sub-second-container {
  width: 100%;
  height: 2000px;
}

.first-title {
  color: #fff;
  font-size: 24px;
  padding-left: 11%;
  margin-top: 106px;
  margin-bottom: 10px;
}

.second-title,
.third-title {
  color: #fff;
  font-size: 24px;
  padding-left: 11%;
  margin-bottom: 10px;
  margin-top: 200px;
}

.gallery {
  margin-bottom: 102px !important;
  margin: 13px;
  width: 225px;
  height: 225px;
  float: left;
}

.gallery-gerne {
  margin: 13px;
  width: 225px;
  height: 125px;
  float: left;
  position: relative;
  background-color: #2945ff;
  border-radius: 8px;
}

.gallery-gerne:hover {
  cursor: pointer;
}

.center-title {
  position: absolute;
  bottom: center;
  bottom: 40%;
  left: 36%;
  color: #fff;
  font-weight: 700;
}

.center-title33 {
  position: absolute;
  bottom: center;
  bottom: 40%;
  left: 21%;
  color: #fff;
  font-weight: 700;
}

.gallery > :first-child {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-image-1,
.gallery-image-11 {
  background-image: url("Images/placeholder-img1.png");
}

.gallery-image-2,
.gallery-image-22 {
  background-image: url("Images/placeholder-img2.png");
}

.gallery-image-3,
.gallery-image-33 {
  background-image: url("Images/placeholder-img3.png");
}

.gallery-image-4,
.gallery-image-44 {
  background-image: url("Images/placeholder-img4.png");
}

.gallery-image-5,
.gallery-image-55 {
  background-image: url("Images/placeholder-img5.png");
}

.gallery-image-6,
.gallery-image-66 {
  background-image: url("Images/placeholder-img6.png");
}

.recent {
  width: 100%;
  float: left;
}

.gallery-image-11,
.gallery-image-22,
.gallery-image-33,
.gallery-image-55,
.gallery-image-66 {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
}

.before-footer {
  height: 681px;
  margin: 0 390px;
}

.right-image {
  background-image: url("Images/mobile-view-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 455px;
  height: 681px;
  float: left;
}

#question {
  color: #fff;
  font-size: 24px;
  width: 430px;
}

.question-title {
  font-size: 36px;
  color: #fff;
}

.questions {
  width: 48%;
  margin-top: 140px;
}

.questions > div {
  margin-bottom: 30px;
}

.question {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: start;
}

.icon-1,
.icon-2,
.icon-3 {
  width: 75px;
  height: 75px;
}

.icon-1 {
  background-image: url("Icons/reach.png");
  padding-right: 27px;
  background-repeat: no-repeat;
}

.icon-2 {
  background-image: url("Icons/globe.png");
  padding-right: 27px;
  background-repeat: no-repeat;
}

.icon-3 {
  background-image: url("Icons/money.png");
  padding-right: 27px;
  background-repeat: no-repeat;
}

.footer-before {
  width: 90%;
  height: 378px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-color: #2f43fe;
  position: relative;
  display: flex;
  border-radius: 12px;
  background-image: linear-gradient(#972def, #2f43fe);
}

.next-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 125px 16%;
  justify-content: space-between;
  border-radius: 12px;
}

.music-image {
  position: absolute;
  width: 42%;
  background-image: url(Images/music-img1.png);
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  border-bottom-left-radius: 0;
  height: 100%;
}

.before-footer-text {
  color: #fff;
  font-size: 57px;
  padding-left: 6%;
  padding-right: 14%;
}

.before-footer-text-container {
  width: 60%;
}

.before-footer-text-container > div {
  margin-left: 6%;
}

#sell-button {
  width: 30%;
}

.footer {
  height: 247px;
  border: none;
  border-top: 2px solid #26292a;
  margin-top: 99px;
  padding: 77px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.facebook {
  background-image: url("Icons/facebook.png");
  width: 48px;
  height: 48px;
}

.twitter {
  background-image: url("Icons/twitter.png");
  width: 48px;
  height: 48px;
}

.instagram {
  background-image: url("Icons/instagram.png");
  width: 48px;
  height: 48px;
}

.footer-logo {
  background-image: url("Icons/gobuybeats-logo.png");
  width: 184px;
  height: 45px;
}

.footer-left {
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.footer-center {
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 236px;
}

.footer-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 184px;
}

@media screen and (max-width: 1240px) {
  .input-title {
    width: 350px;
  }
}

@media screen and (max-width: 845px) {
  .header-title {
    color: #ffffff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    width: 100%;
    word-break: break-all;
  }
}
